
<div id="rocks_content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h1 class="title float-left">moonrocks</h1>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <button class="btn btn-primary mt-3" type="button" name="button">Learn More</button>
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <%= image_tag('products/moonrock.png', id: "", class: "mx-auto moonrock-img img-fluid") %>
      </div>
    </div><!-- /row-->
  </div>
</div>
