<div id="cart-content">
  <div class="container">
    <div class="d-inline">
      <h2 class="pt-5">WE OFFER VARIETY</h2>
      <h6> </h6>
    </div>
    <hr>

    <div class="row">
      <div class="col col-md-4 col-sm-6 col-xs-12">
        <div class="rise">
          <div class="card" style="">
            <%= image_tag('placeholder.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>RISE</h1>
            <div class="card-body">
              <h3>CLEMENTINE</h3>
              <p class="card-text">Soothing, tasty thick distillate oil. All the medicinal values Clementine exotic strain provides at reach of a button. Long lasting, quality half gram carts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-6 col-xs-12">
        <div class="rise">
          <div class="card" style="">
            <%= image_tag('placeholder.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>SLUMBER</h1>
            <div class="card-body">
              <h3>GDP</h3>
              <p class="card-text">Curious on trying one of our seasonal exotic flower strains in form of a cartridge? it is possible, we will press it and turn it into vape oil for you. Reach out for more info.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-3 col-xs-12">
        <div class="slumber">
          <div class="card" style="">
            <%= image_tag('placeholder.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>?</h1>
            <div class="card-body">
              <h3>CUSTOM CARTS</h3>
              <p class="card-text">All of our cartridges are handmade and custom filled with our premium oil at various amounts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
