<div id="moonrock-content">


  <div class="container">
    <div class="d-inline">
      <h2 class="pt-5">WE OFFER OUTCOMES <span class="text-small">GO AHEAD AND SELECT YOURS BELOW</span></h2>
      <h6> </h6>
    </div>
    <hr>

    <div class="row">
      <div class="col col-md-6">
        <div class="rise">
          <div class="card" style="">
            <%= image_tag('rise.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>RISE</h1>
            <div class="card-body">
              <p class="card-text">Sativa-hybrid blend will Rise all your senses preparing you for better days and a healthy, positive life. Perfect for a morning kick start, socialize and create. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="slumber">
          <div class="card" style="">
            <%= image_tag('slumber.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>SLUMBER</h1>
            <div class="card-body">
              <p class="card-text">Exquisit OG blends dedicated for patients and connoisseurs with highest tolerance in the planet. Most powerful sleep aid that will combat anxeity and severe chronic pain thanks to its high thc levels combained with a super boost of CBD to upkeep the mind, body and soul.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
