<div id="rosin-content">


  <div class="container">
    <div class="d-inline">
      <h2 class="pt-5">WE OFFER QUALITY</h2>
      <h6> </h6>
    </div>
    <hr>

    <div class="row">
      <div class="col col-md-4 col-sm-6 col-xs-12">
        <div class="rise">
          <div class="card" style="">
            <%= image_tag('placeholder.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>RISE</h1>
            <div class="card-body">
              <h3>WHITE FIRE</h3>
              <p class="card-text">Masterfully designed, our exotic and tasty hybrid provides a clean and focused energy that raises your head and lowers your stress. The refined and potent recipe of this rosin will put you in a place that is ideal to work, relax or  create with just one puff. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-6 col-xs-12">
        <div class="rise">
          <div class="card" style="">
            <%= image_tag('placeholder.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>SLUMBER</h1>
            <div class="card-body">
              <h3>GORILLA COOKIES</h3>
              <p class="card-text">Designed to relax you, our heavy indica rosin provides a psychedelic effect of thoughtfulness and inspiration that will change your head from lousy to drowsy in no time. Excellent medication for night time and  sleep aid.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-3 col-xs-12">
        <div class="slumber">
          <div class="card" style="">
            <%= image_tag('placeholder.png', class: 'moonrock-img img-fluid card-img-top') %>
            <h1>RISE</h1>
            <div class="card-body">
              <h3>SOUR CREAM</h3>
              <p class="card-text">This combination of refreshing Citrus punch with OG and earthy undertones will induce unique euphoric effects followed by a deep and soothing couch lock binge-and-munch experience for getting your mind elsewhere and your body nowhere at all.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
