<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= image_tag('300.png', id: "reflect", class: "img-lt") %>
    </div>
    <div class="col-sm-12 col-md-8">
      <h1 class="title float-right">About Us</h1>
      <p class="content ml-auto">Introducing a new line of state of the art cannabis products. MyStache is revolutionizing the cannabis industry by designing cutting edge solventless products that are technologicaly and scientifically advanced. Using only the best ingredients and an extremely meticulous process, we strive to please the picky smoker and to astonish the connoisseur. We believe it is our duty to continue inventing new and innovative ways to medicate the elitist of smokers. At MyStache we only have one rule: quality prevails over quantity always.      <button class="btn btn-primary float-right mt-3" type="button" name="button">Learn More</button></p>
    </div>
  </div>


<!-- Love what you smoke
At MyStache headquarters we believe in a strong foundation. Co-op based on results. Strategy, procedures and delivery is how we break down our work flow. A brand engeneered to target the 1%, we seek the most experienced and particular individuals to delight their senses with cannabis of the future. The time is now, take action and open your mind to new begginings.



MyStache Moonrocks recipe was devolped through true necessity. A few years back, myself, the owner didn't have the same believe system implemented today. Times were hard and one small nug lasted all week. For years I used the same grinder, accumulating to my surprise, a container full of kief. The great idea came along, why not borrow my girlfriend's hair straighter to melt the kief and smoke it! Results were outstanding, the most beautiful golden oil upon me with no knowledge on how to consume it, taking to consideration a rig not to mention wax was far from reach at the time.

Later research led me to the early stages of caviar weed in Cali, early 00'. A life shifting experience which improved my health, smoking less and medicating more. A mini joint size nug turned into a week-lasting micro dosage sleep aid machine. One hit of the bong would equate to a joint or two.



A healthy new beginning with hard work, commitment and knowledge hunger were few of the elements that founded MyStache MoonRocks. Through years of strain testing and systematic outcome recording we were able to develop an experience. Original 'Stache blends are the result of "strain harmony", outcomes are our delivery strategy in our signature blends: Rise and Slumber. Each blend contains four different in house grown exotic indoor flower strains. Main focus is providing two very distinct, consistent and potent outcomes at every dose. -->
</div>
