
<div class="container">
  <%= image_tag('bg-left.png', id: "", class: "bg-left d-none hidden-xs-down") %>
  <%# <%= image_tag('bg-smoke.png', id: "", class: "bg-right") %>

  <h1 class="center">Contact</h1>

  <div class="row">
    <div class="col-md-6 col-sm-12 contact-left">
        <div class="text-center">
          <a href="#" class=""><img src="https://img1.wsimg.com/isteam/ip/0dba1b70-9187-4d0f-9d06-7e26af78d797/logo/c37077ef-262f-4f4e-8cf2-d3dd72dae59d.png/:/rs=h:125/qt=q:95" class="" alt="Mystache-Logo"></a>
          <p>Get updates on MyStache products, events and more.</p>
          <h2>FOLLOW US ON:</h2>
          <div class="social-icons-inline">
          <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i>
          </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-area caps">
            <form role="form">
            <br style="clear:both">
        				<div class="form-group">
    						<input type="text" class="form-control" id="name" name="name" placeholder="NAME" required>
    					</div>
    					<div class="form-group">
    						<input type="text" class="form-control" id="email" name="email" placeholder="EMAIL" required>
    					</div>
    					<div class="form-group">
    						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="PHONE NUMBER" required>
    					</div>

                        <div class="form-group">
                        <textarea class="form-control" type="textarea" id="message" placeholder="MESSAGE" maxlength="140" rows="7"></textarea>
                            <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                        </div>

            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
            </form>
        </div>
    </div>
    </div>
  </div>
</div>
