
<div class="container-home">
  <%= image_tag('cover.jpg', id: "", class: "home-img") %>

    <div class="centered">
      <h1>white fire</h1>
      <h2> available now</h2>
      <button class="" type="button" name="button"> See More </button>
      <%= image_tag('white-fire.png', id: "", class: "home-thumbnail img-fluid") %>

    </div>

</div>
